<div class="todo-list container">

<h1>Todo List</h1>
<div class="tasks">
  <input type="text" id="new-todo">
</div>
<ul class='todos unstyled'></ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    App = {};
    App.collection = new Todo.collections.Todos(<%= @tasks.to_json.html_safe %>);
    App.view = new Todo.views.TodosView({collection: App.collection, el: '.todo-list'});
    App.view.render();
  });
</script>
